/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
/* remember to define focus styles! */
:focus {outline: 0;}
/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* tables still need 'cellspacing="0"' in the markup */
table {border-collapse: collapse;border-spacing: 0;}
/** Styles */
body {font-size: 12px; line-height: 18px; color: #666;text-shadow:0px 0px 0px #666; font-family:"GothamRounded-Medium";}
.wrapper {margin: 40px auto; padding: 24px;}
h3 {font-size: 16px; margin-bottom: 12px; color: #444;}
/** Contact Form **/
#contact-wrapper {position: relative; display: block;}
.form-wrapper {float: left; position: relative;}
.address-wrapper {float: left; position: absolute; right: 0; top: 0; color: #999; margin-top: 60px;}
#contact-wrapper h2, h2.success {font-family:'GothamRounded-Book', sans-serif;font-size: 24px;line-height: 24px; margin: 9px 0;letter-spacing: 0.05em; color: #db1a21;text-shadow:0px 0px 0px #db1a21; font-weight:lighter;}
#contact-wrapper h2.success, h2.success  {color: #db1a21;}
p.success {font-family:'GothamRounded-Medium', sans-serif;  font-size: 14px;  color: #8B8B8C;text-shadow:none;;	line-height: 20px;    margin-bottom: 5px; letter-spacing: 0.02em; word-spacing: 0.01em;}


.submit input{padding: 10px 3px; height: 45px; cursor: pointer; width: 96px; -webkit-box-shadow:none; -moz-box-shadow: none; background: -webkit-gradient(linear, left top, left 30, from(#f1f1f1), color-stop(4%, #ffffff), to(#f4f4f4)); background: -moz-linear-gradient(top, #f1f1f1, #ffffff 1px, #f4f4f4 30px);	background:#292929 !important; font-weight:bold; color:#fff;margin-top:20px;}
#company-street-address{display:none;}
.float_left{float:left;	margin-right:20px; width:auto; padding-left:2px;}
/** Form Styles **/
input, textarea, select { font-size: 12px; letter-spacing:1px; width: 270px; padding: 4px 6px; margin: 0;  text-shadow:0px 0px 0px #000;  color: #000;border:none; outline: none; display: inline-block; position: relative; z-index: 2; border-radius: 3px;    -webkit-border-radius: 3px; -moz-border-radius: 3px; -webkit-transition: .3s ease-in-out; -moz-transition: .3s ease-in-out;}
input {height: 25px;}
select {width: 267px; padding: 4px 6px;}
textarea {width: 240px; overflow: hidden; background: -webkit-gradient(linear, left top, left 15, from(#FFFFFF), color-stop(4%, #f4f4f4), to(#FFFFFF));  background: -moz-linear-gradient(top, #FFFFFF, #f4f4f4 1px, #FFFFFF 15px); padding-bottom:13px;}
.field {margin: 11px 0; position: relative; width: 280px;}
label {display: block; padding-right: 24px; float: left;color: #666;text-shadow:0px 0px 0px #666; text-align: right; font: 13px ;}
.error, .tooltip {height: 16px; width: 200px; background-color: #FFCFCF; border: 1px solid #E5A3A3; font: 13px; color: #801B1B; padding: 8px 10px 8px 10px; margin-left: -2px; border-radius: 0 9px 9px 0;-moz-border-radius: 0 9px 9px 0;-webkit-border-radius: 0 9px 9px 0; -moz-box-shadow: 0 0 6px #ddd; -webkit-box-shadow: 0 0 6px #ddd;  z-index: 9999;}
.tooltip {background: #F2F2F2; border-color: #DBDBDB; color: #666; display:none !important;}
.overlay {display: none;  z-index: 10000; background-color: #fff;  width: 912px; padding: 24px; min-height: 200px; border: 1px solid #666; background: -webkit-gradient(linear, left top, left 30, from(#f1f1f1), color-stop(4%, #ffffff), to(#f4f4f4)); background: -moz-linear-gradient(top, #f4f4f4, #ffffff 1px, #f4f4f4 95%); border: 1px solid #dadada; border-radius: 5px;    -webkit-border-radius: 5px; -moz-border-radius: 5px; -webkit-box-shadow: 0px 1px 4px #ddd; -moz-box-shadow: 0px 1px 4px #ddd;}
.overlay .close:before {content: 'X';}
.overlay .close {background: #eee; border-radius: 17px; -moz-border-radius: 17px; -webkit-border-radius: 17px; border: 1px solid #AAAAAA; cursor: pointer; height: 23px; padding-top: 5px; position: absolute; right: -15px;text-align: center; top: -15px; width: 29px;}
#exposeMask{ position:fixed !important;}
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear {clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;}
/* http://perishablepress.com/press/2009/12/06/new-clearfix-hack */
.clearfix:after {clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0;    height: 0;}
/*	The following zoom:1 rule is specifically for IE6 + IE7.
	Move to separate stylesheet if invalid CSS is a problem.*/
* html .clearfix,*:first-child+html .clearfix { zoom: 1;}