/*----------------------------------
  Header
------------------------------------*/
.s-header__navbar {
  background: transparent;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Container
------------------------------ */
.s-header__container {
  width: 100%;
  height: auto;
  display: table;
  padding: .75rem 1.875rem;
}

.s-header__container:before, .s-header__container:after {
  content: " ";
  display: table;
}

.s-header__container:after {
  clear: both;
}

.container-fluid {
  padding-left: 2.1875rem;
  padding-right: 2.1875rem;
  position: relative;
}

/* Navbar Row
------------------------------ */
.s-header__navbar-row {
  position: relative;
  display: table-row;
  clear: both;
}

.s-header__navbar-row-col {
  width: 50px;
  display: table-cell;
  vertical-align: middle;
}

/* Logo
------------------------------ */
.s-header__logo {
  position: relative;
  z-index: 9999;
  width: 100%;
  height: auto;
  float: left;
}

.s-header__logo-link {
  display: inline-block;
  padding: 1rem 0;
}

.s-header__logo-link:focus, .s-header__logo-link:hover {
  text-decoration: none;
}

.s-header__logo-img-default, .s-header__logo-img-shrink {
  display: block;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.s-header__logo-img-default {
  opacity: 1;
}

.s-header__logo-img-shrink {
  position: absolute;
  top: 1rem;
  left: 0;
  opacity: 0;
}

@media (max-width: 61.9em) {
  .s-header__logo {
    width: auto;
    height: auto;
    float: left;
  }
}

/* Trigger
------------------------------ */
.s-header__trigger {
  position: relative;
  z-index: 9999;
  width: 3.125rem;
  height: 2.125rem;
  float: right;
  overflow: hidden;
  transition-duration: 500ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

/* Trigger Icon */
.s-header__trigger-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  width: 15px;
  height: 2px;
  background: #0d0923;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  transition-duration: 500ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  margin-left: 5px;
}

.s-header__trigger-icon:before, .s-header__trigger-icon:after {
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;
  background: inherit;
  content: " ";
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: transform 0.5s, width 0.5s, top 0.3s;
  transition: transform 0.5s, width 0.5s, top 0.3s;
  margin-left: -5px;
}

.s-header__trigger-icon:before {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: translate3d(0, 0.4375rem, 0);
  transform: translate3d(0, 0.4375rem, 0);
  top: -1px;
}

.s-header__trigger-icon:after {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: translate3d(0, -0.4375rem, 0);
  transform: translate3d(0, -0.4375rem, 0);
  top: 1px;
}

.s-header__trigger--dark .s-header__trigger-icon {
  background: #222324;
}

.s-header__trigger svg {
  position: absolute;
  top: 0;
  left: 0;
}

.s-header__trigger circle {
  -webkit-transition: stroke-dashoffset 0.4s 0s;
  transition: stroke-dashoffset 0.4s 0s;
}

/* Trigger Is Active Style */
.-is-active.s-header__trigger {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  height: 50px;
}

.-is-active .s-header__trigger-icon {
  background: #fff;
    left: 45%;
    width: 10px;

}

.-is-active .s-header__trigger-icon:before, .-is-active .s-header__trigger-icon:after {
  width: 50%;
  -webkit-transition: transform 0.5s, width 0.5s;
  transition: transform 0.5s, width 0.5s;
  top: 0;
}

.-is-active .s-header__trigger-icon:before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 12px;
}

.-is-active .s-header__trigger-icon:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 11px;
}

.-is-active.s-header__trigger circle {
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 0.4s 0.3s;
  transition: stroke-dashoffset 0.4s 0.3s;
}

/* Overlay
------------------------------ */
.s-header-bg-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background: rgba(237, 28, 36, 0);
  visibility: hidden;
  -webkit-transition: all 0.5s ease-in 0.4s;
  transition: all 0.5s ease-in 0.4s;
  opacity: 0;
}

.s-header-bg-overlay.-is-open {
  background: rgba(0, 0, 0, 0.9);
  visibility: visible;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  opacity: 1;
}
.s-header-bg-overlay .s-header__nav.js__scrollbar.container{
  transition: all 0.5s ease-out;
  opacity: 0;
}
.s-header-bg-overlay.-is-open .s-header__nav.js__scrollbar.container{
  transition: all 0.5s ease-out;
  opacity: 1;
}
/* Nav
------------------------------ */
.s-header__nav {
  height: 100%;
  padding: 30vh 0;

}

/* Menu List */
.s-header__nav-menu {
  width: 18.75rem;
  float: left;
  text-align: left;
  margin-bottom: 0;
}

@media (max-width: 47.9em) {
  .s-header__nav-menu {
    width: 50%;
  }
}

@media (max-width: 33.9em) {
  .s-header__nav-menu {
    width: 100%;
    float: none;
  }
}

.s-header__nav-menu-item {
  margin: 0 0 0 5.625rem;
  margin-bottom: .3125rem;
  position: relative;
  line-height: 22px;
}
.s-header__nav-menu-item:hover{
  color: #fff;
  text-decoration: none;
}

@media (max-width: 47.9em) {
  .s-header__nav-menu-item {
    padding-left: 0;
  }
}

.s-header__nav-menu-link-divider {
  position: relative;
}

.s-header__nav-menu-link-divider:before {
  position: absolute;
  top: 50%;
  right: -2.5rem;
  width: 2.1875rem;
  height: 0.0625rem;
  background: rgba(255, 255, 255, 0);
  content: " ";
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.s-header__nav-menu-link-divider[href]:focus, .s-header__nav-menu-link-divider[href]:hover {
  color: #fff;
}

.s-header__nav-menu-link-divider[href]:hover:before {
  right: 0;
  background: white;
}

.s-header__nav-menu-link-divider:focus, .s-header__nav-menu-link-divider:hover {
  color: #fff;
}

.s-header__nav-menu-link-divider:hover {
  opacity: 1;
  padding-right: 2.5rem;

}

.s-header__nav-menu-link-divider.-is-active {
  padding-right: 2.5rem;
}

.s-header__nav-menu-link-divider.-is-active:before {
  right: 0;
  background: white;
}
.s-header__nav .container-fluid .main_nav{
  list-style: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  transition: all 0.4s ease-in;
}
.s-header__nav .container-fluid .main_nav li{
  line-height: 20px !important;
  transition: all 0.4s ease-in;
}
.s-header__nav .container-fluid .main_nav li a, .s-header__nav .container-fluid .main_nav li ul li a, .s-header__nav .container-fluid .main_nav li{
  font-weight: 500;
  color: #fff;
  line-height: 65px;
  font-size: 30px;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.s-header__nav .container-fluid .main_nav li ul li a{
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-align: left !important;
  transition: all 0.4s ease-in;
}
.s-header__nav .container-fluid .main_nav li a span{
    font-size: 14px;
    position: absolute;
    top: 23px;
    right: -20px;
    line-height: 0;
    transition: all 0.4s ease-in;
}
.s-header__nav .container-fluid .main_nav li ul li {
    line-height: 28px !important;
    text-align: left !important;
    transition: all 0.4s ease-in;
}
.s-header__nav .container-fluid .main_nav li ul li.header{
  margin-top: 20px;
  transition: all 0.4s ease-in;
}
.menu_container{
  position: relative;
  display: inline-block;
  margin: 0 auto;
  transition: all 0.4s ease-in;
}
.s-header__nav .container-fluid .main_nav.sub_active{
  padding-right: 280px;
  text-align: right !important;
  transition: all 0.4s ease-in;
}
.s-header__nav .container-fluid .main_nav.sub_active li{
  opacity: 0.7;
}
.s-header__nav .container-fluid .main_nav li.submenu.active, .s-header__nav .container-fluid .main_nav li.submenu.active ul li{
  opacity: 1;
}
.s-header__nav .container-fluid .main_nav li.submenu.active ul{
  display: block;
  transition: all 0.4s ease-in;
  opacity: 1;
}
.s-header__nav .container-fluid .main_nav ul {
  position: absolute;
  right: calc(-100% - 100px);
  top: 0px;
  list-style: none;
  text-align: left !important;
  display: none;
  transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
.s-header__nav .container-fluid .main_nav li ul li:first-child{
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  background: #fff;
  transition: all 0.4s ease-in;
}
/* Action
------------------------------ */
.s-header__action {
  margin-bottom: 0;
}

.s-header__action--lb {
  position: absolute;
  left: 1.875rem;
  bottom: 1.875rem;
}

.s-header__action--rb {
  position: absolute;
  right: 1.875rem;
  bottom: 1.875rem;
}

.s-header__action-item {
  padding: 0;
  margin-left: .1875rem;
  margin-right: .3125rem;
  display: inline-block;
}

.s-header__action-link {
  position: relative;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  padding: .3125rem;
}

.s-header__action-link:first-child {
  padding-left: 0;
}

.s-header__action-link:last-child {
  padding-right: 0;
}

.s-header__action-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.s-header__action-link.-is-active {
  color: white;
}

/* Menu Open/Close
------------------------------ */
.s-header-bg-overlay .s-header__nav-menu-item {
  opacity: 0;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  -webkit-transform: translate3d(0, 1.25rem, 0);
  transform: translate3d(0, 1.25rem, 0);
}

.s-header-bg-overlay .s-header__action-item {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media (max-width: 47.9em) {
  .s-header-bg-overlay.-is-open .s-header__nav-menu-item,
  .s-header-bg-overlay.-is-open .s-header__action-item {
    opacity: 1;
  }
}

@media (min-width: 34em) {
  .s-header-bg-overlay.-is-open .s-header__nav-menu-item {
    opacity: 1;
  }
  
  .s-header-bg-overlay.-is-open .s-header__action-item {
    opacity: 1;
  }

}
.submenu1 ul{display:none !important;  -webkit-transition: opacity 2s ease-in;
       -moz-transition: opacity 2s ease-in;
        -ms-transition: opacity 2s ease-in;
         -o-transition: opacity 2s ease-in;
            transition: opacity 2s ease-in; }
.submenu1.active ul{display:block !important;  opacity: 1;}
