

/*================ Social share buttons ================*/
.social-sharing {
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*================ Large Buttons ================*/ }
  .social-sharing * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .social-sharing a {
    display: inline-block;
    color: #fff;
    border-radius: 8px;
    margin: 0 10px 0 0;
    height: 22px;
    line-height: 22px;
    text-decoration: none;
    font-weight: normal; 
			}
    .social-sharing a:hover {
      color: #fff; 
	 }
  .social-sharing span {
    display: inline-block;
    vertical-align: top;
    height: 22px;
    line-height: 22px;
    font-size: 12px; }
.social-sharing .fb-icon{
	font-family: 'si';
	font-size:14px;
	padding:3px 4px 0 0;
	color:white;
	
	width:25px; height:25px; border-radius: 100px 100px 34px 100px; background-color:#3b5998;transition:ease-in-out; transition-duration:0.4s;}	
.social-sharing .fb-icon:hover{width:60px; transition:ease-in-out; transition-duration:0.4s;}
.social-sharing .twitter-icon{	font-family: 'si';	font-size:14px;	padding:3px 4px 0 0; color:white;	
	width:25px; height:25px; border-radius: 100px 100px 34px 100px; background-color:#32def3;transition:ease-in-out; transition-duration:0.4s;}	
.social-sharing .twitter-icon:hover{width:60px; transition:ease-in-out; transition-duration:0.4s;}

.share{ font-style:normal; font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:12px; padding-left: 7px;}	
 .social-sharing a .share{opacity:0;    transition: ease-in-out;
    transition-duration: 0.4s;}
 .social-sharing a:hover .share{opacity:1;    transition: ease-in-out;
    transition-duration: 0.4s;}

.share-title {
  font-weight: 900;
  font-size: 12px;
  padding-right: 10px; }
  .is-large .share-title {
    padding-right: 16px; }

.share-facebook {
border:1px solid #000; border-radius:17px 8px 15px 19px !important ; width:55px; transition:ease-in-out; transition-duration:0.4s;

  }
.share-facebook:hover{
width:90px; transition:ease-in-out; transition-duration:0.4s;
  }
.share-twitter {
   border:1px solid #000; border-radius:17px 8px 15px 19px !important; width:48px; transition:ease-in-out; transition-duration:0.4s; }
   .share-twitter:hover {
   width:90px; transition:ease-in-out; transition-duration:0.4s; }


.share-count {
       padding: 2px 2px 2px 0px;
  margin-right: -12px;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  width: 27px !important;
 
 }
  .share-count.is-loaded {
    opacity: 1; }
  .share-count:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
 }
  .share-count:before {
    left: -6px;
     }
  a:hover .share-count {
    }
    a:hover .share-count:after {
      border-right-color: whitesmoke; }
  .is-large .share-count {
    font-size: 18px;
    padding: 0 14px; }

/*================ Clean Buttons ================*/
.social-sharing.is-clean a {
  border: none;
  color: #333;
  height: 27px;
  line-height: 25px; 
  width: auto;
}
.social-sharing.is-clean a:hover .icon1{  width: 75px; transition:ease-in-out; transition-duration:0.4s;}
 
  