body{
  font-family: 'Open Sans', sans-serif;
}
a:hover,a:focus{text-decoration:none; outline:none;}
.particles-js-canvas-el{
    position: absolute;
    left: 0;
    top: 0;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 1000;
    height: 130px;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    
}
.navbar-brand svg{
    width: 120px;
    margin-top: 7px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar-brand svg{
    width: 120px;
    padding-top: 7px;
}
.shrink .navbar-brand svg{
    width: 100px;
    padding-top: 27px;
}
.navbar .nav ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #0d0923;
    font-weight: 700;
    line-height: 18px;
}
.navbar.shrink {
    height: 60px;
    line-height: 80px;
    background: rgba(255, 255, 255, 0.96);
}
.nav{
    right: 0;
    position: absolute;
}
.navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 30px;
    padding-left: 30px;
}
.brj {
    display: table;
    width: 100%;
    height: 100vh;
}
.k {
    position: relative;
    width: 100%;
    padding: 60px 30px;
    color: inherit;
    background-color: #fff;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}
.spacing_margin{
    margin-top: 60px;
    margin-bottom: 60px;
}
.anim-imag{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 900px;
    height:768px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-content span{
    display: block;
    font-family: 'Roboto', sans-serif;
    position:relative;
    margin:0 auto;
} 
.banner-content span{
    font-size: 40px;
    color: #273444;
    font-weight: 300;
    line-height: 42px;
}
.banner-content span.red{
    font-size: 62px;
    color: #ff1d25;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 64px;
}
.row h1, .row h2{width:100%;}
.whats-happening .col-sm-6.whats-new .kroll{
    margin-top: -5px;
}
.whats-happening .col-sm-6 span.news-red, .kroll span.news-red{
    color: #e61f28;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: -10px;
} 
.whats-happening .col-sm-6.whats-new .kroll span.news-content{
    font-size: 18px;
    color: #fff;
    font-weight: 300;
    line-height: 24px;
}
.whats-happening .col-sm-6.whats-new .kroll span.story{
    font-size: 13px;
    color: #fff;
    font-weight: 300;
    line-height: 18px;
    text-transform: none;
}
.whats-happening .col-sm-6 a.link{
    color: #0d7cb1;
    font-weight: 500;
}
.whats-happening .col-sm-6{
  position: relative;
}
.research_container .col-sm-6:after{
  background:linear-gradient(135deg, #00c7ff 0%,#007f9c 100%);
  content: "";
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  opacity: 0.8;
  transition: all 0.8s;
}
.whats-happening .col-sm-6:hover:after{
  opacity: 0.2;
}
.whats-new{
    color: #fff;
    font-weight: 300;
}
.item{position:relative;    background: #0d0923; min-height: 300px !important;}
.item.active{position: absolute;  top: 0px; }
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
	transition-delay: 0.2s;
	transition-duration: 4s;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}
.item.active span{animation: slide-up-fade-in ease 1s;  
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; 
    -webkit-animation: slide-up-fade-in ease 1s;   
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; 
    -moz-animation: slide-up-fade-in ease1s;  
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; 
    -o-animation: slide-up-fade-in ease 1s;
    opacity:0;
         }
       
@keyframes slide-up-fade-in{
    0% {
        opacity:0;
        transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
    }
}

@-moz-keyframes slide-up-fade-in{
    0% {
        opacity:0;
        -moz-transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        -moz-transform:  translate(0px,0px)  ;
    }
}

@-webkit-keyframes slide-up-fade-in {
    0% {
        opacity:0;
        -webkit-transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        -webkit-transform:  translate(0px,0px)  ;
    }
}

@-o-keyframes slide-up-fade-in {
    0% {
        opacity:0;
        -o-transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        -o-transform:  translate(0px,0px)  ;
    }
}


        
.item.active span:nth-child(1){animation-delay:.5s;}
.item.active span:nth-child(2){animation-delay:1s;}
.item.active span:nth-child(3){animation-delay:1.5s;}
.item.active span:nth-child(4){animation-delay:2s;}



.banner-content span:nth-child(6){
    color: #273444;
    font-weight: 400;
    font-size: 22px;
}


.banner-content{
  position: relative;
  z-index: 2;
}
.banner-content div {
  overflow:hidden;
  width:0%;
  animation: widthize100 .8s 1 .3s cubic-bezier(.7, 0, .175, 1) forwards;
  -webkit-animation: widthize100 .8s 1 .3s cubic-bezier(.7, 0, .175, 1) forwards;
}
.line-2{
  animation: widthize100 .8s 1 .3s cubic-bezier(.7, 0, .175, 1) forwards;
  -webkit-animation: widthize100 .8s 1 .3s cubic-bezier(.7, 0, .175, 1) forwards;
  animation-delay:3s;
  width: 0% ;
  white-space: nowrap;
  overflow: hidden;
  float: left;
}
.banner-content div span {
  white-space: nowrap;
}
.line_break{
    width:0%;
    height: 2px;
    margin: 20px 0;
    background: #ff1d25;
    animation: widthize70 .6s 1 cubic-bezier(.7, 0, .175, 1) forwards !important;
    -webkit-animation: widthize70 .6s 1 cubic-bezier(.7, 0, .175, 1) forwards !important;
}
.banner-content div:nth-child(2){animation-delay:1s;}
.banner-content div:nth-child(3){animation-delay:1.5s;}
.banner-content div:nth-child(4){animation-delay:2s;}
.banner-content .line_break{animation-delay:2.5s !important;}
@keyframes widthize70 {
    0% { width: 0%; }
    100% { width: 30%; }
  
}
@-webkit-keyframes widthize70 {
    0% { width: 0%; }
    100% { width: 30%; }
}
@keyframes widthize100 {
    0% { width: 0%; }
    100% { width: 100%; }
}
@-webkit-keyframes widthize100 {
    0% { width: 0%; }
    100% { width: 100%; }
}
#typed, .typed-cursor{
    display: inline-block !important;
    color: #5ba9e9 !important;
    font-size: 22px !important;
    font-weight: 500 !important;
}
.whats-happening{
    padding: 0;
    margin: 0;
}
.whats-happening .col-sm-6{
    height: 383px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 36px;
    color: #fff;
    text-transform: uppercase;
    line-height: 42px;
    overflow: hidden;
}
.whats-happening .col-sm-6 a{
    text-decoration: none;
    color: #fff;
    display: block;
}
.whats-happening .col-sm-6 a.active{
    color: #0d0923;
}
.whats-happening .col-sm-6 span{
    color: #7e7e7e;
    font-weight: 500;
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
}
.whats-happening .col-sm-6:nth-child(2) span{
    color: #ffffff;

}
.whats-happening .col-sm-6 .spacing{
    padding: 5.9vh 8vh;
    position: relative;
    z-index: 1;
}

.whats-happening .col-sm-6 .spacing .center{
    position: relative;
    z-index: 1;
    vertical-align: middle;
    text-align: center;
    display: inline-block;
    color: #1f64a0;
    font-weight: 500;
    font-size: 22px;
    width: 100%;
    height: 100%;
}
.whats-happening .col-sm-6 .spacing .center span{
    font-weight: 300;
    font-size: 29px;
    color: #649db1;
    letter-spacing: 1px;
    margin-bottom: -15px;
}
.whats-happening .col-sm-6:first-child{
    background-color: #444444;
}
.whats-happening .col-sm-6:first-child:after{
  background: #444444;
}
.whats-happening .col-sm-6:nth-child(2){
    background: #0d7cb1;
    overflow: inherit;
}
.whats-happening .col-sm-6:nth-child(3):before{
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    border-left:30px solid #0d7cb1; 
    content: "";
    position: absolute;
    left: 0px;
    top: calc(50% - 30px);
    z-index: 4;
}
.whats-happening.research_container .col-sm-6:nth-child(3):before{
  border: none;
}
.whats-happening .col-sm-6:nth-child(3){
    background-color: #fff;
    background-position: center center;
}
.whats-happening .col-sm-6:nth-child(3) span.gradient{
    background: rgba(255,255,255,0.6);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.8) 69%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0.6)), color-stop(69%, rgba(255,255,255,0.95)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.8) 69%);
    background: -o-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.8) 69%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.8) 69%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.8) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin-bottom: 0;
}
.whats-happening .col-sm-6:last-child{
    background: #0d0923;
}



/* Play Button */

.hp-cta-video {
    display: inline-block;
    padding: 17px 17px 17px 50px;
    position: relative;
    transition: color 0.3s cubic-bezier(0.77,0,0.175,1) 0.1s;
    z-index: 1;
    color: #273444;
    font-size: 0.75rem;
    letter-spacing: .058em;
    line-height: .9;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 12px;
}

.hp-cta-video:before,.hp-cta-video:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    z-index: -1;
}

.hp-cta-video:before {
    width:100%;
    height: 2.625rem;
    background-color: rgba(255, 255, 255, 0.66);
    border:1px solid rgba(8, 8, 8, 0.29);
    border-radius: 1.3125rem;
    transition: width 0.4s cubic-bezier(0.77,0,0.175,1);
}

.hp-cta-video:after {
    top: 0.875rem;
    
  left: 1.625rem;
    border-top: 0.4375rem dashed transparent;
    border-bottom: 0.4375rem dashed transparent;
    border-left: 0.625rem solid #273444;
    transition: left 0.4s cubic-bezier(0.77,0,0.175,1);
}

.hp-cta-video:hover {
    color: #0d7cb1;
    text-decoration: none;
}

.hp-cta-video:hover:before {
    width:  2.625rem;
}

.hp-cta-video:hover:after {
    left: 1.125rem;
    border-left: 0.625rem solid #0d7cb1;
}


/* Play Button */

/* code for animated blinking cursor */
.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed-fade-out{
    opacity: 0;
    animation: 0;
    transition: opacity .25s;
}
/* code for animated blinking cursor */



/* scroll icon */

.mouse {
    background: #4e5559 -webkit-linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
    background: rgb(0, 0, 0) linear-gradient(transparent 0%, transparent 50%, #ffffff 50%, #ffffff 100%);
    position: relative;
    width: 20px;
    height: 30px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    background-size: 100% 100%;
    border-radius: 100px;
    background-size: 225%;
    -webkit-animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
    animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}
.mouse:before, .mouse:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.mouse:before {
    width: 18px;
    height: 28px;
    background-color: rgb(84, 78, 78);
    border-radius: 100px;
}
.mouse:after {
    background-color: #ffffff;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    -webkit-animation: trackBallSlide 5s linear infinite;
    animation: trackBallSlide 5s linear infinite;
}

@-webkit-keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #4e5559;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #4e5559;
  }
  59.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #4e5559;
  }
  89.99%, 100% {
    background-color: #ffffff;
  }
}

@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: #4e5559;
  }
  29.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  30% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: #4e5559;
  }
  59.99% {
    background-color: #ffffff;
    background-position: 0% 0%;
  }
  60% {
    background-color: #4e5559;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: #4e5559;
  }
  89.99%, 100% {
    background-color: #ffffff;
  }
}
@-webkit-keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
            transform: scale(1) translateY(-10px);
  }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(20px);
            transform: scale(0.4) translateY(20px);
  }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-10px);
            transform: scale(0.4) translateY(-10px);
  }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
            transform: scale(1) translateY(-10px);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
            transform: scale(1) translateY(-10px);
  }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(20px);
            transform: scale(0.4) translateY(20px);
  }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-10px);
            transform: scale(0.4) translateY(-10px);
  }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
            transform: scale(1) translateY(-10px);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
            transform: scale(1) translateY(-10px);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(20px);
            transform: scale(0.4) translateY(20px);
  }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-10px);
            transform: scale(0.4) translateY(-10px);
  }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
            transform: scale(1) translateY(-10px);
  }
}
@keyframes trackBallSlide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
            transform: scale(1) translateY(-10px);
  }
  6% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  14% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(20px);
            transform: scale(0.4) translateY(20px);
  }
  15%, 19% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-10px);
            transform: scale(0.4) translateY(-10px);
  }
  28%, 29.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
            transform: scale(1) translateY(-10px);
  }
  30% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
            transform: scale(1) translateY(-10px);
  }
  36% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  44% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(20px);
            transform: scale(0.4) translateY(20px);
  }
  45%, 49% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-10px);
            transform: scale(0.4) translateY(-10px);
  }
  58%, 59.99% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
            transform: scale(1) translateY(-10px);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
            transform: scale(1) translateY(-10px);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9) translateY(5px);
            transform: scale(0.9) translateY(5px);
  }
  74% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(20px);
            transform: scale(0.4) translateY(20px);
  }
  75%, 79% {
    opacity: 0;
    -webkit-transform: scale(0.4) translateY(-10px);
            transform: scale(0.4) translateY(-10px);
  }
  88%, 100% {
    opacity: 1;
    -webkit-transform: scale(1) translateY(-10px);
            transform: scale(1) translateY(-10px);
  }
}
@keyframes nudgeMouse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes nudgeText {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  20% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  30% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}
@keyframes colorText {
  21% {
    color: #4e5559;
  }
  30% {
    color: #ffffff;
  }
  51% {
    color: #4e5559;
  }
  60% {
    color: #ffffff;
  }
  81% {
    color: #4e5559;
  }
  90% {
    color: #ffffff;
  }
}



/* Scroll icon */


/* animated arrow circle */

.button-icon-animate {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 100%;
    background: 0 0;
    border: none;
     display: block;
    text-shadow: none;
    color: transparent;
    top:25px;
    left:0;
}

.button-icon-animate__circle {
    position: absolute;
    top: 0;
    left: 0
}

.button-icon-animate__circle--left {
    stroke-dasharray: 77px;
    stroke-dashoffset: -77px;
  transition: all 1s ease;
}

.button-icon-animate__circle--right {
    stroke-dasharray: 77px;
    stroke-dashoffset: -77px;
    transition: all 1s ease;
}


.button-icon-animate:hover .button-icon-animate__circle--right{   
  stroke-dashoffset: 0;

}
.button-icon-animate:hover .button-icon-animate__circle--left{ 
  stroke-dashoffset: 0;
 
}

.icon {     
    font-size: 28px !important;
    color: rgba(255,255,255,0.4);
    position: relative;
    top: 6px;
    left: 16px; transition: 1s all ease;
}
.wobble{
    -webkit-animation: wobble 9s ease infinite;
    animation: wobble 9s ease infinite;
}
    
 
.button-icon-animate:hover .icon{ color:#fff;}
@keyframes wobble {
   0% { -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);} 
  10% {
    -webkit-transform: translate(10px,0);
    -ms-transform: translate(10px,0);
    transform: translate(10px,0);
    }
    20% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    }
   100% {
    -webkit-transform: translate(0,0);
    -ms-transform: translate(0,0);
    transform: translate(0,0);
    }
}

/* animated arrow circle */
/*Awards*/
 ul.awards{display:block !important; position:inherit !important;
  border-bottom:none;}
 .awards-content{ position: absolute !important; left:0; top:0;}
  ul.awards li a{
  transition: 1s all ease;
  }
 ul.awards li.active a{
  color: #0d0923;
 }
 .award_holder{
  margin-top: 130px; position: relative; z-index: 1;
 }
/* bran_tabs */

.brand_tabs{
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.brand_tabs ul{
  width: 100%;
  text-align: center;
  position: relative;
  display: block;
  border: none;
}
.brand_tabs ul li{
  border-radius: 25px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #273444;
  display: inline-block;
  margin: 0 10px; 
  transition: 1s all ease;
  background-color: #fff;
}
.brand_tabs ul li:hover{
  background-color: rgba(13, 124, 177, 0.15);
}
.tab-pane.active.in{
  opacity: 1;
}
.brand_tabs ul li a, .brand_tabs ul li a:hover{
  color: #273444;
  text-decoration: none;
  padding: 2px 20px;
  display: inline-block;
}
.brand_tabs ul li.active{
  border: 1px solid #abb0b6;
}
#auto img, #tab2 img, #tab3 img, #tab4 img, #tab5 img, #tab6 img, #tab7 img, #tab8 img {
    margin: 10px 50px;
}



/* Platform Leverage */
.platform-leverage {margin:50px 0 0 0 ;}
.platform-leverage ul{
  padding: 0;
  margin:0;
  text-decoration:none;
}
/** ACCORDIAN **/
.platform-leverage .accordian {
  list-style:none;
  margin:0 0 40px;
  padding:0;
  
  border-top:0;
}
.platform-leverage .accordian header {
  display:block;
  margin:0;
  padding:5px 20px;
  cursor:pointer;
  text-align: left;	
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  color: rgba(0,0,0,0.3);
  font-weight: 700;
  transition: 1s all ease;
}
.platform-leverage .accordian header:hover{
  color: rgba(0,0,0,0.9);
}
.platform-leverage .accordian header.active{color:#e21e27;}
.platform-leverage .accordian section {
  display:none;
  padding: 0px 15px 0 55px;
  text-align: left;
  width: 70%;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #000;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 30px;
}
.platform-leverage .plus-icon{margin-right:10px;}
.platform-leverage .accordian section.active {
  display:block;
}

.color-blue-bg{
  background-color: #0d0923 !important
}
.color-red{
  color: #e61f28;
  font-weight: 300;
}
.color-red-bold{
  color: #e61f28;
  font-weight: 500;
}
#mc_embed_signup_scroll h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 28px;
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  bottom: -6px;
  margin-right: 10px;
}
#mc_embed_signup_scroll{
      display: block;
    text-align: center;
}
#mc_embed_signup_scroll .row{
  display: block;
  margin-top: 60px;

}
#mc_embed_signup_scroll .submit_button{
  margin-top: 21px;
  margin-left: -11px;
  display: inline-block;
  margin-bottom: -9px;
}
/* Research */

.whats-happening .button_animate:hover .button-icon-animate .button-icon-animate__circle--right, .whats-happening .button_animate:hover .button-icon-animate .button-icon-animate__circle--left,.research a:hover .button-icon-animate .button-icon-animate__circle--right, .research a:hover .button-icon-animate .button-icon-animate__circle--left,.research_container .use-cases:hover .button-icon-animate .button-icon-animate__circle--right,.research_container .use-cases:hover .button-icon-animate .button-icon-animate__circle--left{stroke-dashoffset: 0;}
.research_container .use-cases:hover{cursor:pointer;}
.whats-happening .button_animate:hover .button-icon-animate .icon, .research_container .use-cases:hover .button-icon-animate .icon{color:#fff;}
.research_container .use-cases:nth-child(2){background:url('../images/video_bg/img1.png') !important;background-size: cover !important; }
.research_container .use-cases:hover:nth-child(2){background:url(../images/video_bg/data.gif)  !important;background-size: cover !important;}
.research_container .use-cases:nth-child(3){background:url('../images/video_bg/img2.png') !important;background-size: cover !important; }
.research_container .use-cases:hover:nth-child(3){background:url(../images/video_bg/city.gif)  !important;background-size: cover !important;}
.research_container .use-cases:nth-child(4){background:url('../images/video_bg/img3.png') !important;background-size: cover !important; }
.research_container .use-cases:hover:nth-child(4){background:url(../images/video_bg/data-service.gif)  !important;background-size: cover !important;}
.research a {
  width: 100%;
  display: table;
}
.research a {
  float: left;
  width: 31.33%;
  text-align: center;
  margin-right: 3%;
  display: block;
}
.research a figure {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 100%;
  border-radius: 20px;
	    z-index: 2;
}
.research a figure img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s;
  transition: transform 0.3s ease-out, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s;
}
 .research a {
  display: block;
  width: 100%;
  height: 100%;
}
 .research a:hover .description {
  -webkit-transform: translate(69px, 40px);
  -moz-transform: translate(69px, 40px);
  transform: translate(69px, 40px);
}
.research a:hover .title,  .research a:hover figure p{
  -webkit-transform: translate(0, -50px);
  -moz-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
 .research a:hover img {
  -webkit-transform: translate(0, -30px);
  -moz-transform: translate(0, -30px);
  transform: translate(0, -30px);
}
.research a:last-of-type {
  margin-right: 0px;
}

.research h1.title {
  display: table-cell;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36;
  color: #e21e27;
  text-align: left;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: #ffffff;
  padding:20px 20px 50px 20px;
  display: block;
  -webkit-transition: -webkit-transform 0.4s, color 0.3s;
  -moz-transition: -moz-transform 0.4s, color 0.3s;
  transition: transform 0.4s, color 0.3s;
 
}
.research figure p{
    position: absolute;
    bottom: 15px;
    z-index: 3;
    color: #000;
    padding: 0px 0 0 20px;
    text-transform: uppercase;
    -webkit-transition: -webkit-transform 0.4s, color 0.3s;
    -moz-transition: -moz-transform 0.4s, color 0.3s;
    transition: transform 0.4s, color 0.3s
}
.research h1.title:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 100px;
  background: #ffffff;
  width: 100%;
}

.research .description {
  display: table-cell;
  position: absolute;
    bottom: 60px;
    left: -50px;
  right: 0;
  width: 100%;
  -webkit-transform: translate(0, 100%);
  -moz-transform: translate(0, 100%);
  transform: translate(0, 100%);
  z-index: 4;
  -webkit-transition: -webkit-transform 0.25s;
  -moz-transition: -moz-transform 0.25s;
  transition: transform 0.25s;
}

.research .button-icon-animate{ top:0px}
.research path{stroke:#000 !important;}
.research .button-icon-animate, .research .icon{color:rgba(0,0,0,0.5);}
.research .icon {left: 1px;    top: 4px; transition: 2s all ease;}
.research a:hover .button-icon-animate .icon{ color:rgba(0,0,0,1);}
.research .col-sm-3{
  padding: 0 30px;
}
/* Newsletter subcribe*/
.newsletter{width:100%;}
.newsletter  .row{float:left;}
.newsletter .row:before { position: absolute; content: ""; display: block; top: 0; left: -5000px; height: 100%; z-index: -1; background: inherit;}
.newsletter .row span { position: relative; display: inline-block; margin-top:0; }
.newsletter .balloon { display: inline-block;z-index: 1; position: relative; width: 195px; font-size:12px; height: 25px;  padding: 0 0 0 5px;   font-family: 'Roboto', sans-serif; color: transparent; font-weight:normal; background: transparent;  outline: 0; text-indent: 60px; transition: all .5s ease !important; border-bottom: 1px solid #ec222b !important; text-shadow:0px 0px 0px transparent;    border: none;}
.newsletter .balloon::-webkit-input-placeholder {  color: transparent; text-indent: 0; font-weight:normal;}
.newsletter .balloon + label {font-family: 'Roboto', sans-serif; font-size:11px; display: inline-block; position: absolute; top: -1px; left: 0; bottom: 6px;  padding: 5px;line-height: 15px; height: 25px; color: #6b6b6b;font-weight:normal;  transition: all .5s ease !important; border-radius: 3px; background: rgba(122, 184, 147, 0); margin-bottom:0px;}
.newsletter .balloon + label:after { position: absolute; content: ""; width: 0; height: 0; top: 100%; left: 50%; margin-left: -3px;  border-left: 3px solid transparent; border-right: 3px solid transparent; border-top: 3px solid rgba(122, 184, 147, 0); transition: all .5s ease;}
.newsletter .balloon:focus,.balloon:active {  color: #6b6b6b;  text-indent: 0;  background: transparent; transition: all .5s ease !important; }
.newsletter .balloon:focus::-webkit-input-placeholder,.balloon:active::-webkit-input-placeholder {  color: #aaa; transition: all .5s ease !important;}
.newsletter .balloon:focus + label,.balloon:active + label { color: #fff;   background: #ec222b; transform: translateY(-30px); transition: all .5s ease !important;}
.newsletter .balloon:focus + label:after,.balloon:active + label:after { border-top: 4px solid #ec222b;}
.newsletter .clear{float: left; margin-top:21px; clear: none;}
.newsletter .email:focus { outline:none; border:none; border-bottom:solid 1px #ec222b !important; transition: border-color 1s ease; }
.newsletter .submit { float:left;appearance: none; width:80px; height:28px;  font-family: 'Roboto',sans-serif; text-shadow:0px 0px 0px #fff; font-size:11px; font-weight:normal; background:#ec222b;color: #ffffff;line-height: 6px; padding: 5px; border-radius: 3px; border:none; letter-spacing:normal; text-align:center; text-transform:uppercase; transition: color 0.5s ease;  outline:none; margin-left:5px;}
.newsletter .submit:hover { background:#F26167; cursor:pointer; transition: color 0.5s ease;}

.loc-dots{ width:15px; height:15px; background:#db1a21; position:absolute; border-radius:50%; z-index:35; cursor:pointer;  -webkit-transition: all 0.5s ease-in-out; -moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; border:none;	  transition: all 0.5s ease-in-out;}
.loc-dots.usa{left: 14%;top: 41%;}
.loc-dots.uk{left: 46%;top: 32%;}
.loc-dots.singapore{right: 25%;top: 59%;}
.loc-dots.australia{right: 12%;bottom: 17%;}
.loc-dots.india{right: 32%;top: 54%;}
.loc-dots.japan{right: 10%;top: 31%;}
.usa-nyloc.loc-active,.usa-ny.c-active .pulse,.usaloc.loc-active, .usa.c-active .pulse, .australialoc.loc-active, .australia.c-active .pulse, .ukloc.loc-active, .uk.c-active .pulse, .indialoc.loc-active, .india.c-active .pulse, .singaporeloc.loc-active, .singapore.c-active .pulse, .japanloc.loc-active, .japan.c-active .pulse{ opacity:1;}
.usaloc{left: 14.5%; top: 41%}
.loc-dots.usa-ny{left: 32%; top: 28%;}
.usa-nyloc{left: 22%; top: 28%;}
.ukloc{	left: 36%;top: 32%;}
.singaporeloc{right: 21%;top: 59%;}
.australialoc{right: 5%;bottom: -9%;}
.indialoc{right: 26%;top: 54%;}
.japanloc{right: -3%;top: 29%;}
.contact-location{position:absolute;background:rgba(255,255,255,0.85);	padding-left:8px;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out; -o-transition: all 0.5s ease-in-out; transition: all 0.5s ease-in-out; opacity:0; border-radius:4px;}
.contact-location h2{font-family: 'Roboto',sans-serif;  font-size:22px;text-align:left; margin-top: 10px;margin-bottom: 5px;line-height:30px; color:#db1a21;}
.contact-location p{ line-height:18px; font-family: 'Roboto',sans-serif; font-size:13px; text-align: left;}
.contact-location a{text-decoration:none; color:#000000;}
.loc-dots.c-active{background:transparent; border:4px solid #db1a21;}
.singaporeloc .mobile{
    color: #000000;
    display: block;
    font-size: 19px;
    line-height: 18px;
  }
.contact-reason h2{ font-size:24px; color:#db1a21;}
.contact-reason .accordian-header{font-size:16px !important; text-transform:none !important;}
.contact-reason .accordian-section{font-size:14px !important;} 
.contact-us .col-sm-8{position:realtive; height:365px;}
/*** Footer ***/
footer .spacing_margin{
  margin-top: 40px;
  margin-bottom:20px;
}
.footer-links a{
  display: block;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 32px;
  font-size: 12px;
  color: rgba(29, 29, 29, 0.6); 
}
.footer-links a:hover{color:#1d1d1d;}
.footer-links span{
      padding-top: 6px;
    display: block;
}
.footer-links span, .life span{font-family: 'Roboto', sans-serif; font-weight:500;    line-height: 26px; font-size:14px; color:rgba(29, 29, 29, 0.6);}
.fun1, .fun2, .fun3, .fun4, .fun5, .fun6{ background:url(../images/fun-life-near.png); background-size:100% auto;}
.fun1{background-position: 0 0;}.fun2{background-position: 0 20%;}.fun3{background-position: 0 40%;}.fun4{background-position: 0 60%;}.fun5{background-position: 0 80%;}.fun6{background-position: 0 100%;}
.life a{ display:inline-block;}
.life img{float:left; margin-right:5px; width: 65px; height: 65px;}
.social-links a{display:inline-block; color:#ffffff; position: relative; background:#aeaeae; border-radius:50%; width:40px; height:40px; text-decoration: none; margin-right:5px;}
.social-links i{color:#ffffff;  position: absolute; top: 9px; left: 12px; font-size: 20px;}
.footer-links, .life{margin-top:15px; }
.truste, .copyrights{float:left; color:#686868;font-family: 'Roboto', sans-serif; font-weight:normal;    line-height: 18px; font-size:12px; }
.copyrights a{color:#686868;font-family: 'Roboto', sans-serif; font-weight:normal;    line-height: 18px; font-size:12px;}
.perspective {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
[data-aos="3dflip"] {
  -webkit-transition-duration: .7s;
  -webkit-transition-property: -webkit-transform,opacity;
  -webkit-transition-delay: .15s;
  -webkit-transition-timing-function: 'ease-in-out';
  -moz-transition-duration: .7s;
  -moz-transition-property: all;
  -moz-transition-delay: .15s;
  -moz-transition-timing-function: 'ease-in-out';
  -o-transition-duration: .7s;
  -o-transition-property: transform,opacity;
  -o-transition-delay: .15s;
  -o-transition-timing-function: 'ease-in-out';
  -ms-transition-duration: .7s;
  -ms-transition-property: transform,opacity;
  -ms-transition-delay: .15s;
  -ms-transition-timing-function: 'ease-in-out';
  transition-duration: .7s;
  -webkit-transition-property: opacity,-webkit-transform;
  transition-property: opacity,-webkit-transform;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  transition-delay: .15s;
  transition-timing-function: 'ease-in-out';
  -webkit-transform: rotatex(-80deg) translateZ(0);
  transform: rotatex(-80deg) translateZ(0);
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  opacity: 0;
}
[data-aos="3dflip"].aos-animate {
  -webkit-transform: rotatex(0deg) translateZ(0);
  transform: rotatex(0deg) translateZ(0);
  opacity: 1;
}
.add{display:none;}
.banner-space{height: 150px;}
.research row{margin:0 50px;}
.contact-us{padding: 10px; background-color: #ffffff;}
#myselect{display:none;}
.effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #fff;
  text-transform: capitalize;
  background:#e21e27;
	font-size: 18px;
  padding: 5px 0px;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
}

/* effect-1 styles */
.effect.effect-1 {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.effect.effect-1:before {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 15px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  top: 0;
  opacity: 0;
  height: 100%;
  width: 40px;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.effect.effect-1:focus {color:#fff; text-decoration: none;}
.effect.effect-1:hover{
  text-indent: -20px;
	color:#fff;
}
.effect.effect-1:hover:before {
  opacity: 1;
  text-indent: 0px;
}
@media (max-width: 768px){
	.navbar-nav {display:none;}
	.nav-pills{top: 20px;}
	.s-header__nav-menu-item{margin-left:0px !important;}
	.s-header__nav-menu-item:first-child{line-height:28px !important;}
	.s-header__nav-menu-item:first-child,.s-header__nav-menu-link{font-size:16px !important;}
	.s-header__nav.js__scrollbar.container{padding:10px 0;}
	.s-header__nav-menu-link-divider{font-size:14px !important;}
	.list-unstyled.s-header__nav-menu.col-lg-4{padding-right:60px;}
	.s-header__action--lb,.s-header__action--rb{bottom: 0.875rem !important;}
	.s--header__action--rb{right: 0.5em !important;}
	.s-header__trigger{top: 8px !important;    left: 20px !important;}
	.banner-content span{font-size:24px; line-height: 28px;}
	.banner-content span.red{font-size:34px; line-height: 38px;}
	.k{padding: 30px 20px;}
	.shrink .navbar-brand svg{padding-top:10px;}
	.navbar.shrink{  height:65px;  padding: 0rem 1rem;}
	
	h1{font-size:22px !important;} h2{font-size:20px !important;}
	#auto img, #tab2 img, #tab3 img, #tab4 img, #tab5 img, #tab6 img, #tab7 img, #tab8 img {
		margin: 10px 20px;}
	.whats-happening .col-sm-6{max-height:383px; line-height: 40px;  font-size: 30px;}
	.platform-leverage .accordian header{font-size:15px;}
	.platform-leverage .accordian section{font-size:14px;}
	.banner-content span:nth-child(6){font-size:18px;}
	#typed, .typed-cursor{font-size:18px !important; }
	.footer-links {margin-top:0px;}
	
	
	.truste, .copyrights{text-align:center; margin-top:10px;}
	footer svg{display:none;}
}
@media (max-width:480px){
	.banner-content span:nth-child(6){font-size:14px !important;}
	.banner-space{height: 100px !important;}
	#typed, .typed-cursor{font-size:18px !important; }
	.whats-happening .col-sm-6{max-height:383px; line-height: 35px; font-size: 24px;}
	.whats-happening .col-sm-6 .award_holder span{line-height:80px;}
	.nav-tabs > li { float:none; }
h2 {font-size: 16px !important;}
	.banner-content span.red {font-size: 32px !important;}
	.banner-content span {font-size: 24px !important;}
	
}

@media (max-width:575px){
	.whats-happening .col-sm-6:nth-child(3):before{left: calc(50% - 30px); top: -15px; transform: rotate(90deg); -webkit-transform:rotate(90deg); } 
.banner-content span{font-size:20px; line-height: 28px;}
	.banner-content span.red{font-size:30px; line-height: 38px;}
	.footer-links a,.footer-links span{font-size:14px; text-align: center;border-bottom: 1px solid #e4e1e1;}
	.footer-links p{text-align: center;}
	.footer hr{margin-top: 0px;}
	.life{display:none;}
}
@media(min-width:575px) and (max-width:1200px){.research .col-sm-3{max-width: 50% !important; flex: 0 0 50% !important; padding: 0px 15px !important;} .whats-happening .col-sm-6:nth-child(3):before{display:none;}}
@media(min-width:640px) and (max-width:1200px){.col-sm-6{max-width: 50% !important; flex: 0 0 50% !important;}.whats-happening .col-sm-6:nth-child(3):before{display:none;}}

@media (max-width: 991px) {
	body{overflow-x:hidden;}
	.banner-content span:nth-child(6){font-size:18px;}
	#typed, .typed-cursor{font-size:18px !important; }
	.banner-content span{font-size:26px; line-height: 28px;}
	.banner-content span.red{font-size:34px; line-height: 38px;}
	.navbar-nav {display:none;}
	.container{width:100%; padding: 0px;}
	.add{display:block;}
	.shrink .navbar-brand svg{padding-top:10px;}
	.navbar.shrink{    padding: 0rem 1rem;}
	.nav-pills{top: 10px;  right: 10px;}
	.s-header__nav-menu-item{margin-left:0px !important;}
	.s-header__nav-menu-item:first-child{line-height:28px !important;}
	.s-header__nav-menu-item:first-child,.s-header__nav-menu-link{font-size:16px !important;}
	.s-header__nav.js__scrollbar.container{padding:10px 0;}
	.s-header__nav-menu-link-divider{font-size:14px !important;}
	.list-unstyled.s-header__nav-menu.col-lg-4{padding-right:60px;}
	.s-header__action--lb,.s-header__action--rb{bottom: 0.875rem !important;}
	.s--header__action--rb{right: 0.5em !important;}
	.crossmatrix{width:100%;}
	#myselect{display:inline-block; width: auto;}
	.brand_tabs ul.nav-tabs{display:none;}
	.research a .description { -webkit-transform: translate(69px, 40px);-moz-transform: translate(69px, 40px); transform: translate(69px, 40px);}
	.research a .title, .research a figure p {-webkit-transform: translate(0, -50px); -moz-transform: translate(0, -50px);transform: translate(0, -50px);}
	.research row{margin:0 0px;}
	.research .col-sm-3{padding:0px;}
	.contact-us{height:inherit;}
	.loc-dots, .contact-us svg{display:none}
	.contact-location{position:relative;padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid rgba(236,34,43,0.26);display:inline-block;left:0;right:0;opacity:1;border-radius:0;background-image:none;width:250px;margin-right:30px; top:0px;}
span.mobile{display:block;}
	.award_holder{margin-top:100px;}
.contact-location p{text-align:left;}
	.contact-us .col-sm-8{height:inherit;}
	.brj{height:100% !important}
	.whats-happening .col-sm-6 .spacing {padding: 1.9vh 4vh !important;}
	.whats-happening .col-sm-6{height:320px;}
	.whats-happening .button_animate .button-icon-animate .button-icon-animate__circle--right, .whats-happening .button_animate .button-icon-animate .button-icon-animate__circle--left,.research a .button-icon-animate .button-icon-animate__circle--right, .research a .button-icon-animate .button-icon-animate__circle--left,.research_container .use-cases .button-icon-animate .button-icon-animate__circle--right,.research_container .use-cases .button-icon-animate .button-icon-animate__circle--left{stroke-dashoffset: 0;}
.research_container .use-cases{cursor:pointer;}
.whats-happening .button_animate .button-icon-animate .icon, .research_container .use-cases .button-icon-animate .icon{color:#fff;}

.research_container .use-cases:nth-child(2){background:url(../images/video_bg/data.gif)  !important;background-size: cover !important;}

.research_container .use-cases:nth-child(3){background:url(../images/video_bg/city.gif)  !important;background-size: cover !important;}

.research_container .use-cases:nth-child(4){background:url(../images/video_bg/data-service.gif)  !important;background-size: cover !important;}
	.whats-happening .col-sm-6:after {opacity: 0.2;}
		.effect.effect-1 {text-indent: -20px; color: #fff;}
	.effect.effect-1:before {opacity: 1; text-indent: 0px;}
}
@media (max-width:1100px){.brj{height:100% !important}.research a .description { -webkit-transform: translate(69px, 40px);-moz-transform: translate(69px, 40px); transform: translate(69px, 40px);}
	.research a .title, .research a figure p {-webkit-transform: translate(0, -50px); -moz-transform: translate(0, -50px);transform: translate(0, -50px);} .research .description{left:-68px;background:#ffffff;} .research .description .button-icon-animate{left:15px;} footer .row{width:100%;}}

@media (min-width:1201px) and (max-width:1342px){.whats-happening .col-sm-6{max-height:383px; line-height: 40px;  font-size: 28px;}}


